@media ((min-width: 717px) and (max-width: 1000px)) {
    /*Barra de navegação*/
    .navbar-links {
      display: none;
      flex-direction: column;
      position: absolute;
      left: 0;
      width: 100%;
      background-color: #333;
      padding: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      text-align: center;
      margin-top: 40%;
    }
  
    .navbar-links.show {
      display: flex;
    }
  
    .navbar-toggler {
      margin-right: 10px;
      display: block;
    }
  
    .navbar-toggler.show {
      display: none;
    }
    /*Sessão principal da página home*/
    main {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  
    main img {
      margin: auto;
      margin-bottom: 100px;
      margin-top: 50px;
      width: 1000px;
    }
  
    body {
      margin: auto;
      text-align: center;
      justify-content: center;
    }
  
    #texto {
      margin-top: 100px;
      margin-bottom: 100px;
      max-width: 1000px;
      text-align: center;
      align-content: end;
    }
  
    /*Sessão de especialidades (ícones e texto)*/
  
    #tituloSpecs {
      margin-right: -00%;
      margin-left: 80px;
    }
  
    .especialidades {
      flex-direction: column;
      text-align: center;
      justify-content: flex-end;
      justify-items: center;
      align-items: center;
      margin-right: -00%;
      margin-left: 80px;
    }
  
    #imgSkill img {
      width: 300px;
    }
  
    #imgSkill p {
      width: 500px;
      margin: auto;
    }
  
    /*Footer do site*/
    footer {
      margin-top: 100px; /* Altere para auto para encostar no final da página */
      background-color: #333;
      color: #fff;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 20px; /* Mantém o footer fixo na parte inferior */
      bottom: 0; /* Coloca o footer na parte inferior */
      min-width: 1000px;
      width: 820px; /* Garante que o footer ocupe toda a largura */
      max-width: 2500vw;
      text-decoration: none;
    }
  
    footer p {
      color: #fff;
      font-size: 40px;
      color: rgba(3, 171, 222, 1);
    }
  
    footer a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      font-size: 35px;
    }
  }
  
  @media ((min-width: 1024px) and (max-width: 1280px)) {
    /*Barra de navegação*/
    .navbar-links {
      display: none;
      flex-direction: column;
      position: absolute;
      left: 0;
      width: 100%;
      background-color: #333;
      padding: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      text-align: center;
      margin-top: 40%;
    }
  
    .navbar-links.show {
      display: flex;
    }
  
    .navbar-toggler {
      margin-right: 10px;
      display: block;
    }
  
    .navbar-toggler.show {
      display: none;
    }
  
    /*Sessão principal da página home*/
    main {
      flex-direction: column-reverse;
      justify-content: center;
      text-align: center;
    }
  
    main img {
      margin: auto;
      margin-bottom: 100px;
      margin-top: 50px;
      width: 1250px;
    }
  
    body {
      margin: auto;
      text-align: center;
      justify-content: center;
    }
  
    #texto {
      margin-top: 100px;
      margin-bottom: 100px;
      margin-left: auto;
      margin-right: auto;
      margin: center;
      max-width: 900px;
      width: 700px;
      text-align: center;
    }
  
    /*Sessão de especialidades (ícones e texto)*/
  
    #tituloSpecs {
      margin-right: -00%;
      margin-left: 80px;
    }
  
    .especialidades {
      flex-direction: column;
      text-align: center;
      justify-content: flex-end;
      justify-items: center;
      align-items: center;
      margin-right: -00%;
      margin-left: 80px;
    }
  
    #imgSkill img {
      width: 300px;
    }
  
    #imgSkill p {
      width: 500px;
      margin: auto;
    }
  
    /*Footer do site*/
  
    footer {
      margin-top: 100px; /* Altere para auto para encostar no final da página */
      background-color: #333;
      color: #fff;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 50px; /* Mantém o footer fixo na parte inferior */
      bottom: 0; /* Coloca o footer na parte inferior */
      min-width: 1000px;
      width: 1000px; /* Garante que o footer ocupe toda a largura */
      max-width: 100vw;
      text-decoration: none;
    }
  
    footer p {
      color: #fff;
      font-size: 40px;
      color: rgba(3, 171, 222, 1);
    }
  
    footer a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      font-size: 35px;
    }
  }
  