* {
  padding: 0;
  margin: 0;
  font-family: "Nova Square", sans-serif;
}

body {
  margin: 0;
  color: #4169e1;
  background-image: url(./img/fundo.png);
  background-position: top, center;
  max-width: 100%;
}

p {
  font-size: 35px;
  color: #001f3f;
}

header {
  position: fixed;
  width: 100%;
  height: 100px;
}

.container {
  width: 100%;
  margin: 0 auto;
}
.navbar {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: rgba(3, 171, 222, 1);
  font-size: 40px;
}

.navbar-links {
  list-style: none;
  display: flex;
}

.navbar-links li {
  padding: 10px;
}

.navbar-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

.navbar-toggler {
  display: none;
  font-size: 3.5rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.navbar-toggler.show {
  display: none;
  right: 0;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

main img {
  margin-top: 150px;
  margin-left: 50px;
  width: 800px;
}

#texto {
  color: #001f3f;
  max-width: 500px;
  text-align: center;
  margin-top: 150px;
  margin-right: 50px;
  font-weight: 600;
}

#texto p {
  font-size: 35px;
}

#texto h1 {
  font-weight: 600;
  font-size: 40px;
}

#texto span {
  color: rgba(3, 171, 222, 1);
}

#tituloSpecs {
  margin: auto;
  text-align: center;
  margin-top: 120px;
  color: #001f3f;
  font-size: 35px;
}

.especialidades {
  margin-top: 100px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

#imgSkill p {
  text-align: center;
  max-width: 300px;
  font-size: 35px;
}

#imgSkill img {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  width: 1200px;
  min-width: 99%;
}

footer p {
  margin: 0;
  color: rgba(3, 171, 222, 1);
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

footer ul li {
  margin-left: 10px;
}

footer a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}
