*{
    padding: 0;
    margin: 0;
    font-family:'Nova Square', sans-serif;
}


body {
    margin: 0;
    background-image: url(./img/fundo.png);
    background-position: top, center;
}

p{
    font-size: 35px;
    color: rgba(0, 31, 63, 1);
}

h1{
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    color: rgba(3, 171,222, 1)
}

h2{
    font-weight: 600;
    font-size: 35px;
    color: rgba(3, 171,222, 1)   
}

h3{
    color: rgba(3, 171,222, 1);
    font-size: 30px;
}

header{
    position: fixed;
    width: 100%;

}


.container {
    width: 100%;
    margin: 0 auto;
    

}
.navbar {
    background-color:#333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: rgba(3, 171,222, 1);
    font-size: 40px;
}

.navbar-links {
    list-style: none;
    display: flex;
}

.navbar-links li {
padding: 10px;
}


.navbar-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}

.navbar-toggler {
    display: none;
    font-size: 3.5rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.navbar-toggler.show {
    display: none;
}
main{
    
    padding: 100px;
}
.especialidades{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

#imgSkill p {
    margin: auto;
    text-align: center;
    max-width: 500px;
    font-size: 35px;
    margin-bottom: 50px;

}

#imgSkill img{
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}

footer {
    margin-top: 100px; /* Altere para auto para encostar no final da página */
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px; /* Mantém o footer fixo na parte inferior */
    bottom: 0; /* Coloca o footer na parte inferior */
    min-width:820px;
    width: auto; /* Garante que o footer ocupe toda a largura */
    max-width: 100vw;
    text-decoration: none;
}


footer p{
color:#fff;
font-size: 40px;
color:rgba(3, 171,222, 1);
}

footer a{
text-decoration: none;
color: #fff;
font-weight: bold;
font-size: 35px;

}