*{
    padding: 0;
    margin: 0;
    font-family:'Nova Square', sans-serif;
}


body {
    margin: 0;
    color:#4169e1;
    background-image: url(./fundo.png);
    background-position: top, center;
    height: 100px;
}

p{
    font-size: 20px;
    color: rgba(0, 31, 63, 1);
}

header{
    position: fixed;
    width: 100%;
}


.container {
    width: 100%;
    margin: 0 auto;
    

}
.navbar {
    background-color:#333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: rgba(3, 171,222, 1);
    font-size: 1.5rem;
}

.navbar-links {
    list-style: none;
    display: flex;
}

.navbar-links li {
padding: 10px;
}


.navbar-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.navbar-toggler {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.navbar-toggler.show {
    display: none;
}

.home{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.home img{
    margin-top: 150px;
    margin-left: 200px;
}

#texto{
   color: rgba(0, 31, 63, 1);
   max-width: 500px; 
   text-align: center;
   margin-top: 150px;
   margin-right: 200px;
}

#texto span{
    color: rgba(3, 171,222, 1);

}

.especialidades{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

#imgSkill p {
    max-width: 300px;

}

#imgSkill img{
    max-width: 100px;
}
/*Banner em baixo da navbar*/




footer{
    margin-top: 200px;
    background-color:#333;
    color:#fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p{
    color:#fff;
    font-size: 20px;
}





        @media (max-width: 768px) {
            .navbar-links {
                display: none;
                flex-direction: column;
                position: absolute;
                left: 0;
                width: 100%;
                background-color: #333;
                padding: 10px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                text-align: center;
                margin-top:40%;
            }
        
            .navbar-links.show {
                display: flex;
            }
        
            .navbar-toggler {
                margin-right: 10px;
                display: block;
            }
        
            .navbar-toggler.show {
                display: none;
                
            }

            .home{
                flex-direction: column-reverse;
            }
    
            .home img{
                margin: auto;
                margin-bottom: 100px;
                margin-top: 50px;
            }
    
            #texto{
                margin-top: 100px;
                margin-bottom: 100px;
                margin-right: -00%;
                margin-left: 200px;
                max-width: 400px;
    
            }

            .especialidades{
                flex-direction: column;
                margin: auto;
                justify-content: space-between;
            }

            #imgSkill{
                text-align: center;
                margin-right: -00%;
                margin-left: 200px;
                margin-top: 50px;

            }
        }
        



